@charset "UTF-8";

html{
    font-size: 62.5%;
}

body{
    background-color:#E0E0FF;
    color: #000000;
    font-size: 12px;
    font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

ul{
    list-style-type:none;
}

a:link{
    color: #0000FF;
}

a:visited{
    color: #400080;
}

.header{
    width: 100%;
}

.global-nav{
    font-size: 16px;
    margin-top:15px;
    text-align:center;
}
.global-nav .nav-item{
    display: inline-block;
    margin: 0 10px;
}

.title{
    text-align: center;
    font-size: 2.4rem;
    margin: 40px auto 40px;
}

.wrapper{
    margin: 0px auto 0px;
}

.top{
    font-size: 24px;
    display: flex;
    flex-flow:column;
    left:0px;
    height: 300px;
    width: 660px;
    float: left;
}

.history{
    font-size: 24px;
    flex-flow:column;
    display: flex;
    left:0px;
    height: 300px;
    width: 660px;
    float: left;
}

.latest{
    font-size: 24px;
    display: flex;
    flex-flow:column;
    left:0px;
    height: 300px;
    width: 660px;
    float: left;
}

.tweetarea{
    visibility:hidden;
    display:flex;
    flex-flow:column;
    float: right;
}

.twitter-timeline{
    width: 300px;
    height: 600px;
}

.document{
    display:flex;
    flex-flow:column;
    float: right;
}

.clear{
    clear:both;
}

.footer{
    width: 100%;
    padding: 20px 0 30px;
}

.footer::after{
    content: '';
    display: block;
    clear: both;
}

.footer .icon{
    text-align:center;
    text-decoration: none;
    margin: 0 auto;
    border:0;
}

.footer .icon a {
    text-decoration: none;
}

.icon .footer-item .twittericon{
    width: 50px;
    height: auto;
}

.icon .footer-item .qiitaicon{
    width: 50px;
    height: auto;
}

.icon .footer-item .giticon{
    width: 50px;
    height: auto;
}

.icon .footer-item .fbicon{
    width: 50px;
    height: auto;
}

.icon .myid{
    margin: 1px auto 5px;
    padding: 10px auto 30px;
}

.header, .title, .global-nav, .top, .history, .latest, .tweetarea, .documents, .footer{
    border: 1px solid #aaa;
    background-color: #ccc;
}

